/* Main */

body{
  overflow: hidden;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.windowlabel {
  position: relative;
  width: 100%;
  height: max(3.5vh, 30px);
  background-color: rgb(192, 192, 192);
  text-align: center;
  font-size: 2vh;
  color: white;
}

/* Miscellaneous UI */

#toggleuibutton {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 3%;
  padding-bottom: 3%;
}

#toggleuibuttontop {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 25.6%;
  bottom: 66.07%;
  background: #FFFFFF;
}

#toggleuibuttonmiddle {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 45.83%;
  bottom: 45.83%;
  background: #FFFFFF;
}

#toggleuibuttonbottom {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 66.07%;
  bottom: 25.6%;
  background: #FFFFFF;
  opacity: 100%;
}

@keyframes toggleUiButtonTopIn {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 250%) rotate(45deg);
  }
}

@keyframes toggleUiButtonMiddleIn {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(-45deg);
  }
}

@keyframes toggleUiButtonBottomIn {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes toggleUiButtonTopOut {
  0% {
    transform: translate(0%, 250%) rotate(45deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes toggleUiButtonMiddleOut {
  0% {
    transform: translate(0%, 0%) rotate(-45deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes toggleUiButtonBottomOut {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#trash {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 3%;
  user-select: none;
}

#trash img {
  width: 100%;
}

#warning {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 3;
}

#warningbackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.85);
}

#warningalert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(20%, 300px);
  height: 20%;
  background-color: white;
  border-radius: 2em;
}

#warningtext {
  position: absolute;
  top: 12%;
  left: 10%;
  width: 80%;
  height: 60%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: min(2vw, 2vh);
  color: rgb(128, 128, 128);
}

#warningacceptbutton {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0%;
  left: 30%;
  width: 30%;
  height: 25%;
  border-radius: 1em;
  background-color: rgb(0, 90, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 250%;
  font-size: min(2vw, 2vh);
  color: white;
}

#warningcancelbutton {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0%;
  left: 70%;
  width: 30%;
  height: 25%;
  border-radius: 1em;
  background-color: rgb(126, 126, 126);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 250%;
  font-size: min(2vw, 2vh);
  color: white;
}

/* Main menu and contents */

#mainmenu {
  position: absolute;
  top: max(6%, 2em);
  left: 5%;
  height: max(23%, 160px);
  width: max(14%, 200px);
  border-radius: 2em;
  background-color: white;
  overflow: hidden;
  pointer-events: all;
  z-index: 1;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: max(1vw, 100%);
  background-color: white;
  color: rgb(128, 128, 128);
}

#sharelink {
  position: absolute;
  top: 0%;
  margin: auto;
  line-height: 250%;
  width: 100%;
  height: 25%;
  border-bottom: .3vh dashed rgb(128, 128, 128);
}

#togglemodelink {
  position: absolute;
  top: 25%;
  margin: auto;
  line-height: 250%;
  width: 100%;
  height: 25%;
  vertical-align: middle;
  border-bottom: .3vh dashed rgb(128, 128, 128);
}

#documentationlink {
  position: absolute;
  top: 50%;
  margin: auto;
  line-height: 250%;
  width: 100%;
  height: 25%;
  border-bottom: .3vh dashed rgb(128, 128, 128);
}

#aboutlink {
  position: absolute;
  top: 75%;
  margin: auto;
  line-height: 250%;
  width: 100%;
  height: 25%;
}

/* Settings and contents */

#settings {
  position: absolute;
  top: max(34%, 6em);
  left: 5%;
  height: max(12%, 100px);
  width: max(14%, 200px);
  border-radius: 2em;
  background-color: white;
  overflow: hidden;
  pointer-events: all;
  z-index: 1;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(128, 128, 128);
}

#settingslabel {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: max(1vw, 70%);
}

#recordlabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#recordtoggle {
  position: absolute;
  width: 10%;
  top: 44%;
  margin-left: 50%;
  transform: scale(1.5);
  cursor: pointer;
}

#nightskylabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 75%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#nightskytoggle {
  position: absolute;
  width: 10%;
  top: 69%;
  margin-left: 50%;
  transform: scale(1.5);
  cursor: pointer;
}

/* Next firework parameters and contents */

#nextfirework {
  position: absolute;
  top: max(52%, 10em);
  left: 5%;
  height: max(28%, 200px);
  width: max(14%, 200px);
  border-radius: 2em;
  background-color: white;
  overflow: hidden;
  pointer-events: all;
  z-index: 1;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(128, 128, 128);
}

#nextfireworklabel {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: max(1vw, 70%);
}

#randomparamslabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 22%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#randomtypelabel {
  position: absolute;
  top: 14%;
  left: 50%;
  font-size: max(0.5vw, 50%);
}

#randomcolorlabel {
  position: absolute;
  top: 14%;
  left: 60%;
  font-size: max(0.5vw, 50%);
}

#randomscalelabel {
  position: absolute;
  top: 14%;
  left: 70%;
  font-size: max(0.5vw, 50%);
}

#randomtypetoggle {
  position: absolute;
  width: 10%;
  top: 20%;
  margin-left: 50%;
  transform: scale(1.5);
  cursor: pointer;
}

#randomcolortoggle {
  position: absolute;
  width: 10%;
  top: 20%;
  margin-left: 60%;
  transform: scale(1.5);
  cursor: pointer;
}

#randomscaletoggle {
  position: absolute;
  width: 10%;
  top: 20%;
  margin-left: 70%;
  transform: scale(1.5);
  cursor: pointer;
}

#typelabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 36%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#explosiontype {
  position: absolute;
  top: 34%;
  margin-left: 50%;
  cursor: pointer;
}

#colorslabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

.colorpicker {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 10%;
  height: 10%;
  cursor: pointer;
}

#color0 {
  margin-left: 50%;
}

#color1 {
  margin-left: 60%;
}

#color2 {
  margin-left: 70%;
}

#scalelabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 66%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#scaleminus {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 66%;
  font-size: max(1.0vw, 70%);
  font-weight: bold;
}

#scalevalue {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 63%;
  top: 66%;
  font-size: max(1.0vw, 70%);
  font-weight: bold;
}

#scaleplus {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 76%;
  top: 66%;
  font-size: max(1.0vw, 70%);
  font-weight: bold;
}

#audiolabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 83%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#launchaudiolabel {
  position: absolute;
  top: 74%;
  left: 50%;
  font-size: max(0.5vw, 50%);
}

#explosionaudiolabel {
  position: absolute;
  top: 74%;
  left: 70%;
  font-size: max(0.5vw, 50%);
}

#launchaudiotoggle {
  position: absolute;
  width: 10%;
  top: 80%;
  left: 50%;
  transform: scale(1.5);
  cursor: pointer;
}

#explosionaudiotoggle {
  position: absolute;
  width: 10%;
  top: 80%;
  left: 70%;
  transform: scale(1.5);
  cursor: pointer;
}

/* Outliner and contents */

#outliner {
  position: absolute;
  top: max(6%, 2em);
  right: 5%;
  height: 74%;
  width: max(14%, 200px);
  border-radius: 2em;
  background-color: white;
  overflow: hidden;
  pointer-events: all;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
  user-select: none;
}

#outlinerlabel {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: max(1vw, 70%);
}

#fireworkdatawrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - max(3.5vh, 30px));
  overflow-y: scroll;
  overflow-x: hidden;
}

.fireworkdata {
  position: relative;
  float: left;
  float: top;
  width: 100%;
  height: 15%;
  border-bottom: .3vh dashed rgb(128, 128, 128);
  color: rgb(128, 128, 128);
}

.fireworkdatatypelabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 16%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

.fireworkdatatypeinput {
  position: absolute;
  transform: translate(0%, -50%);
  top: 16%;
  margin-left: 40%;
  cursor: pointer;
}

.fireworkdatacolorslabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 40%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

.fireworkdatacolorpicker {
  position: absolute;
  transform: translate(0%, -50%);
  top: 40%;
  width: 10%;
  height: 20%;
  cursor: pointer;
}

.fireworkdatascalelabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 66%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

.fireworkdatascale {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 66%;
  font-size: max(0.75vw, 70%);
  font-weight: bold;
}

#fireworkdatascaleminus {
  left: 50%;
}

#fireworkdatascalevalue {
  left: 63%;
}

#fireworkdatascaleplus {
  left: 76%;
}

.fireworkdatapositionlabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 90%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

.fireworkdataposition {
  position: absolute;
  transform: translate(0%, -50%);
  top: 90%;
  left: 50%;
  font-size: max(0.75vw, 70%);
}

.removefireworkbutton {
  position: absolute;
  top: 16%;
  right: 3%;
  width: 10%;
}

.removefireworkbutton img {
  position: absolute;
  transform: translate(0%, -50%);
  top: 0;
  width: 100%;
}

/* Timeline and contents */

#timeline {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 86%;
  left: 50%;
  height: 6%;
  width: 90%;
  border-radius: 2em;
  background-color: white;
  overflow: hidden;
  pointer-events: all;
  z-index: 1;
  user-select: none;
}

.timelinelength {
  position: absolute;
  float: left;
  top: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(128, 128, 128);
  overflow: hidden;
}

#timelinelengthdecrease {
  transform: translate(-50%, -58%);
  left: min(2vh, 2vw);
  font-size: min(4vh, 4vw);
}

#timelinelengthvalue {
  transform: translate(-50%, -50%);
  left: min(6.5vh, 6.5vw);
  font-size: min(2.5vh, 2.5vw);
}

#timelinelengthincrease {
  transform: translate(-50%, -58%);
  left: min(11vh, 11vw);
  font-size: min(4vh, 4vw);
}

.timelinebuttonsleft {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  float: left;
  left: min(13vh, 13vw);
  margin-left: min(0.8vh, 0.8vw);
  width: min(3vh, 3vw);
  height: 0;
  padding-top: min(3vh, 3vw);
  pointer-events: all;
  z-index: 3;
  user-select: none;
}

.timelinebuttonsleft img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.timelinebuttonsright {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  float: right;
  right: min(3vh, 3vw);
  margin-right: min(0.8vh, 0.8vw);
  width: min(3vh, 3vw);
  height: 0;
  padding-top: min(3vh, 3vw);
  pointer-events: all;
  z-index: 3;
  user-select: none;
}

.timelinebuttonsright img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#timelinelinewrapper {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  height: 100%;
  right: min(21vh, 21vw);
  left: min(27vh, 27vw);
}

#timelineline {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 5%;
  width: 100%;
  border-radius: 2px;
  background-color: rgb(128, 128, 128);
  pointer-events: all;
  z-index: 2;
  user-select: none;
}

#timelineposition {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: min(4vh, 4vw);
  height: 0;
  padding-top: min(4vh, 4vw);
  border-radius: 100%;
  background-color: white;
  border: 0.33vh solid rgb(128, 128, 128);
  pointer-events: all;
  z-index: 3;
  user-select: none;
}

#timelinemarkerswrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timelinemarker {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 0.5%;
  height: 90%;
  border-radius: 1em;
  z-index: 2;
}