/* Main */

body{
  overflow: hidden;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.windowlabel {
  position: absolute;
  width: 100%;
  height: max(3.5vh, 30px);
  background-color: rgb(192, 192, 192);
  text-align: center;
  font-size: 2vh;
  color: white;
}

/* Settings and contents */

#settings {
  position: absolute;
  top: max(6%, 2em);
  left: 5%;
  height: max(12%, 100px);
  width: max(14%, 200px);
  border-radius: 2em;
  background-color: white;
  overflow: hidden;
  pointer-events: all;
  z-index: 1;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(128, 128, 128);
}

#settingslabel {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: max(1vw, 70%);
}

#recordlabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#recordtoggle {
  position: absolute;
  width: 10%;
  top: 44%;
  margin-left: 50%;
  transform: scale(1.5);
  cursor: pointer;
}

#nightskylabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 75%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#nightskytoggle {
  position: absolute;
  width: 10%;
  top: 69%;
  margin-left: 50%;
  transform: scale(1.5);
  cursor: pointer;
}

/* Next firework parameters and contents */

#nextfirework {
  position: absolute;
  top: max(20%, 10em);
  left: 5%;
  height: max(28%, 280px);
  width: max(14%, 200px);
  border-radius: 2em;
  background-color: white;
  overflow: hidden;
  pointer-events: all;
  z-index: 1;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(128, 128, 128);
}

#nextfireworklabel {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: max(1vw, 70%);
}

#randomparamslabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 22%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#randomtypelabel {
  position: absolute;
  top: 14%;
  left: 50%;
  font-size: max(0.5vw, 50%);
}

#randomcolorlabel {
  position: absolute;
  top: 14%;
  left: 60%;
  font-size: max(0.5vw, 50%);
}

#randomscalelabel {
  position: absolute;
  top: 14%;
  left: 70%;
  font-size: max(0.5vw, 50%);
}

#randomtypetoggle {
  position: absolute;
  width: 10%;
  top: 20%;
  margin-left: 50%;
  transform: scale(1.5);
  cursor: pointer;
}

#randomcolortoggle {
  position: absolute;
  width: 10%;
  top: 20%;
  margin-left: 60%;
  transform: scale(1.5);
  cursor: pointer;
}

#randomscaletoggle {
  position: absolute;
  width: 10%;
  top: 20%;
  margin-left: 70%;
  transform: scale(1.5);
  cursor: pointer;
}

#typelabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 36%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#explosiontype {
  position: absolute;
  top: 34%;
  margin-left: 50%;
  cursor: pointer;
}

#colorslabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

.colorpicker {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 10%;
  height: 10%;
  cursor: pointer;
}

#color0 {
  margin-left: 50%;
}

#color1 {
  margin-left: 60%;
}

#color2 {
  margin-left: 70%;
}

#scalelabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 66%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#scaleminus {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 66%;
  font-size: max(1.0vw, 70%);
  font-weight: bold;
}

#scalevalue {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 63%;
  top: 66%;
  font-size: max(1.0vw, 70%);
  font-weight: bold;
}

#scaleplus {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 76%;
  top: 66%;
  font-size: max(1.0vw, 70%);
  font-weight: bold;
}

#audiolabel {
  position: absolute;
  transform: translate(0%, -50%);
  top: 83%;
  left: 10%;
  font-size: max(0.75vw, 70%);
}

#launchaudiolabel {
  position: absolute;
  top: 74%;
  left: 50%;
  font-size: max(0.5vw, 50%);
}

#explosionaudiolabel {
  position: absolute;
  top: 74%;
  left: 70%;
  font-size: max(0.5vw, 50%);
}

#launchaudiotoggle {
  position: absolute;
  width: 10%;
  top: 80%;
  left: 50%;
  transform: scale(1.5);
  cursor: pointer;
}

#explosionaudiotoggle {
  position: absolute;
  width: 10%;
  top: 80%;
  left: 70%;
  transform: scale(1.5);
  cursor: pointer;
}

/* Outliner and contents */

#outliner {
  position: absolute;
  transform: translate(0%, -50%);
  top: 70%;
  left: 5%;
  height: 10%;
  width: max(14%, 260px);
  border-radius: 2em;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: all;
  z-index: 1;
  user-select: none;
}

.fireworkdata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom: 2px dashed rgb(128, 128, 128);
  padding: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 160%;
  color: rgb(128, 128, 128);
}

#positionvalues {
  position: absolute;
  top: 100%;
  left: 10%;
}

/* Timeline and contents */

#timeline {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 86%;
  left: 50%;
  height: 6%;
  width: 90%;
  border-radius: 2em;
  background-color: white;
  overflow: hidden;
  pointer-events: all;
  z-index: 1;
  user-select: none;
}

.timelinelength {
  position: absolute;
  float: left;
  top: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(128, 128, 128);
  overflow: hidden;
}

#timelinelengthdecrease {
  transform: translate(-50%, -58%);
  left: min(2vh, 2vw);
  font-size: min(4vh, 4vw);
}

#timelinelengthvalue {
  transform: translate(-50%, -50%);
  left: min(6.5vh, 6.5vw);
  font-size: min(2.5vh, 2.5vw);
}

#timelinelengthincrease {
  transform: translate(-50%, -58%);
  left: min(11vh, 11vw);
  font-size: min(4vh, 4vw);
}

.timelinebuttonsleft {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  float: left;
  left: min(13vh, 13vw);
  margin-left: min(0.8vh, 0.8vw);
  width: min(3vh, 3vw);
  height: 0;
  padding-top: min(3vh, 3vw);
  pointer-events: all;
  z-index: 3;
  user-select: none;
}

.timelinebuttonsleft img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.timelinebuttonsright {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  float: right;
  right: min(3vh, 3vw);
  margin-right: min(0.8vh, 0.8vw);
  width: min(3vh, 3vw);
  height: 0;
  padding-top: min(3vh, 3vw);
  pointer-events: all;
  z-index: 3;
  user-select: none;
}

.timelinebuttonsright img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#timelinelinewrapper {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  height: 100%;
  right: min(21vh, 21vw);
  left: min(27vh, 27vw);
}

#timelineline {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 5%;
  width: 100%;
  border-radius: 2px;
  background-color: rgb(128, 128, 128);
  pointer-events: all;
  z-index: 2;
  user-select: none;
}

#timelineposition {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: min(4vh, 4vw);
  height: 0;
  padding-top: min(4vh, 4vw);
  border-radius: 100%;
  background-color: white;
  border: 0.33vh solid rgb(128, 128, 128);;
  pointer-events: all;
  z-index: 3;
  user-select: none;
}

.timelinemarker {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 0.5%;
  height: 90%;
  border-radius: 1em;
  z-index: 2;
}